services:
  nats:
    image: nats:latest
    container_name: webhook-nats
    ports:
      - "4222:4222"
      - "8222:8222"
      - "6222:6222"
    restart: unless-stopped

  gateway:
    build:
      context: .
      dockerfile: apps/gateway/Dockerfile
    container_name: webhook-gateway
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - NATS_SERVERS=["nats://nats:4222"]
    restart: unless-stopped
    depends_on:
      - nats

  marketing:
    build:
      context: .
      dockerfile: apps/marketing/Dockerfile
    container_name: webhook-marketing
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production
      - PORT=3001
      - NATS_SERVERS=["nats://nats:4222"]
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USERNAME=root
      - DB_PASSWORD=root
      - DB_NAME=root
      - DB_TYPE=postgres
    restart: unless-stopped
    depends_on:
      - nats
      - postgres

  events:
    image: andriiuni/events
    ports:
      - 3002:3002
    environment:
      - EVENT_ENDPOINT=http://gateway:3000/api/marketing/webhook
    restart: unless-stopped
    depends_on:
      - gateway
      - marketing

  postgres:
    image: postgres:16.11
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=root
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=root@root.com
      - PGADMIN_DEFAULT_PASSWORD=root
    ports:
      - "8080:80"
    depends_on:
      - postgres

volumes:
  postgres_data:
